<div class="d-flex justify-content-end m-2">
  <button type="button" class="btn btn-dark" (click)="openModal(template)">
    Add
  </button>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add student</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="cancel()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="needs-validation" [formGroup]="form" novalidate>
      <div class="row">
        <div class="col mb-1">
          <label class="form-label" for="name">First name</label>
          <input
            autofocus
            type="text"
            class="form-control"
            [class.form-control-invalid]="showError('name')"
            id="name"
            placeholder="First name"
            formControlName="name"
          />
          <ng-container *ngIf="showError('name')">
            <div
              class="error-message"
              *ngFor="let error of form.get('name')?.errors | keyvalue"
            >
            {{getErrorMessage(error.key, error.value)}}
            </div>
          </ng-container>
        </div>
        <div class="col mb-1">
          <label class="form-label" for="lastName">Last name</label>
          <input
            type="text"
            class="form-control"
            [class.form-control-invalid]="showError('lastName')"
            id="lastName"
            placeholder="Last name"
            formControlName="lastName"
          />
          <ng-container *ngIf="showError('lastName')">
            <div
              class="error-message"
              *ngFor="let error of form.get('lastName')?.errors | keyvalue"
            >
            {{getErrorMessage(error.key, error.value)}}
            </div>
          </ng-container>
        </div>
      </div>
      <div class="row">
        <div class="col mb-1">
          <label class="form-label" for="email">Email</label>
          <input
            type="text"
            class="form-control"
            [class.form-control-invalid]="showError('email')"
            id="email"
            placeholder="Email"
            formControlName="email"
          />
          <ng-container *ngIf="showError('email')">
            <div
              class="error-message"
              *ngFor="let error of form.get('email')?.errors | keyvalue"
            >
            {{getErrorMessage(error.key, error.value)}}
            </div>
          </ng-container>
        </div>
      </div>
      <div class="row">
        <div class="col mb-1">
          <label class="form-label" for="dni">Dni</label>
          <input
            type="number"
            class="form-control"
            [class.form-control-invalid]="showError('dni')"
            id="dni"
            placeholder="Dni"
            formControlName="dni"
          />
          <ng-container *ngIf="showError('dni')">
            <div
              class="error-message"
              *ngFor="let error of form.get('dni')?.errors | keyvalue"
            >
              {{getErrorMessage(error.key, error.value)}}
            </div>
          </ng-container>
        </div>
      </div>
      <div class="row">
        <div class="col mb-1">
          <label class="form-label" for="avgMark">Mark</label>
          <input
            type="number"
            step=".5"
            class="form-control"
            [class.form-control-invalid]="showError('avgMark')"
            id="avgMark"
            placeholder="Mark"
            formControlName="avgMark"
          />
          <ng-container *ngIf="showError('avgMark')">
            <div
              class="error-message"
              *ngFor="let error of form.get('avgMark')?.errors | keyvalue"
            >
            {{getErrorMessage(error.key, error.value)}}
            </div>
          </ng-container>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="cancel()">
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="addStudent()"
      [disabled]="form.invalid"
    >
      Add
    </button>
  </div>
</ng-template>
