#studentDni::-webkit-outer-spin-button,
#studentDni::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

#studentDni{
    -moz-appearance:textfield; /* Firefox */
}
