.card-login{
    min-width: 300px;
    max-width: 400px;
    width: 60%;
}
body{
    background-color: black;
}
.login-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}