<table
  mat-table
  [dataSource]="students"
  *ngIf="students.length > 0; else noStudentsLoaded"
>
  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef>FullName</th>
    <td mat-cell *matCellDef="let student">{{ student | fullname }}</td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let student">{{ student.email }}</td>
  </ng-container>
  <ng-container matColumnDef="dni">
    <th mat-header-cell *matHeaderCellDef>DNI</th>
    <td mat-cell *matCellDef="let student">
      {{ student.dni | number : "" : "es" }}
    </td>
  </ng-container>
  <!-- <ng-container matColumnDef="marks">
        <th mat-header-cell *matHeaderCellDef>AVG Mark</th>
        <td mat-cell *matCellDef="let student">{{this.studentsService.getMarksAvg(student.marks)}}</td>
      </ng-container> -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let student">
      <button
        mat-icon-button
        [matTooltip]="removeTooltip(student)"
        color="warn"
        class=""
        (click)="unenrrolStudent(student.id)"
      >
        <mat-icon>close</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<ng-template #noStudentsLoaded>
  <mat-card color="accent" class="my-3">
    <mat-card-content>No students loaded yet!</mat-card-content>
  </mat-card>
</ng-template>
