<ng-container *ngIf="course; else noCourseFound">
    <h1 headingTitle >{{course.name}}</h1>
    <h3>{{course.description}}</h3>
    <div class="content">
        <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Students
                </mat-panel-title>
              </mat-expansion-panel-header>
              <enrollments [courseId]="course.id ?? 0"></enrollments>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</ng-container>
<ng-template #noCourseFound>
    <mat-card color="accent">
      <mat-card-content> No course found!</mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="/">GO BACK</button>
      </mat-card-actions>
    </mat-card>
</ng-template>